/* styles go here */
label {
  margin-bottom: 10px;
  display: block;
}

label:last-child {
  margin-bottom: 0;
}

#age {
  max-width: 99px;
}

div {
  margin-bottom: 20px;
}

.cats_answer > label {
  display: inline;
}

div.facts {
  margin-bottom: 10px;
}
